{% extends "../fatherTemplate.html" %}
{% load widget_tweaks %}
{% block content %}
{% load static %}
<section class="vh-100 bg-image"
  style="background-image: url('{% static "image/font.png" %}');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100 opacity-75">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form method="post" novaldiate >
                {% csrf_token %}
                {% for field in form %}
                
                      <div class="form-outline mb-4">
                        {% render_field field|add_class:"form-control form-control-lg"%}
                        <label class="form-label" for="form3Example4cdg">{{ field.label_tag }}</label>
                      </div>
                        {% if field.errors %}
                          <small class="error">{{ field.errors|striptags  }}</small> 
                        {% endif %}
                {% endfor %}
                
                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <input type="submit" value="Register" class="btn btn-primary btn-block btn-lg gradient-custom-4  text-light">
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}